<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ .Title }}</title>
    <link href="public/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">
        <h1>fhir-kit</h1>
        <p>❤️‍🔥 Simple-to-spin-up FHIR development kit</p>
        <a class="primary-btn">Get Started</a>
    </div>
</body>

</html>